<h2>Notes</h2>
{{#if_eq user.username 'admin'}}
<li><a href="/notes/create">Add new Note</a></li>
{{/if_eq}}
<table>
    <p></p>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        {{#each notes}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.body}}</td>
            <td><a href='/notes/update/{{this.title}}'>edit</a></td>
            {{#if_eq ../user.username 'admin'}}<td><a href='/notes/delete/{{this.title}}'>remove</a></td>{{/if_eq}}
        </tr>
        {{/each}}
    </tbody>
</table>